* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    /* padding-bottom: 20px; */
    box-sizing: border-box;
}

.topo {
    background-color: rgb(0, 143, 179);
    color: white;
}

.conteudo-esquerda {
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: flex-start;
    align-items: center;
    background-color: #f3f3f3;
}

.conteudo-direita {
    width: 60%;
    margin: 0 auto;
}

.conteudo-direita, .conteudo-esquerda {
    padding: 20px 0;
}

#nome {
    text-align: center;
    font-weight: bold;
}

.categoria {
    color: rgb(0, 143, 179);
    font-weight: bold;
    font-size: 1.4rem;
}

.informacoes {
    width: 90%;
    text-align: center;
}

.titulo-habilidade, .informacao-contato {
    font-size: 1.1rem;
    font-weight: 600;
}

.informacao-contato {
    margin-bottom: 20px;
}

.bloco-informacao {
    margin-bottom: 20px;
}

.habilidades {
    width: 75%;
    margin: 0 auto;
}

.grafico-habilidades {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.sobre-mim {
    margin-bottom: 20px;
}

.titulo {
    margin: 20px 0;
    color: #005065;
    font-weight: 600;
}

.sub-titulo {
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 1.6rem;
}

.conteudo-habilidade {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 140px;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0 5px;
}

.nivel-habilidade {
    position: relative;
    display: block;
    width: 100%;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #005065;
    border-radius: 5px;
}

.barra-habilidade {
    position: absolute;
    top: -1px;
    left: -1px;
    display: block;
    height: 107%;
    background-color: rgb(0, 132, 165);
    border-radius: 5px;
}

.espacamento {
    display: none;
}

#angular {
    width: 80%;
}

#html5 {
    width: 90%;
}

#css3 {
    width: 85%;
}

#sass {
    width: 85%;
}

#angular-material {
    width: 75%;
}

#javascript {
    width: 85%;
}

#typescript {
    width: 85%;
}

#nodejs {
    width: 45%;
}

#flutter {
    width: 40%;
}

#scrum {
    width: 75%;
}

#ux {
    width: 70%;
}

#ui {
    width: 60%;
}

#engenharia-software {
    width: 70%;
}

#ingles {
    width: 60%;
}

#espanhol {
    width: 65%;
}

.descricao, .bloco-informacao p {
    line-height: 1.2rem;
    font-size: 1.1rem;
    color: black;
    /* margin-bottom: 15px; */
}

.bloco-informacao p {
    margin-bottom: 15px;
}

.bloco-informacao i {
    margin-right: 10px;
}

.linha-abaixo {
    padding-bottom: 5px;
    border-bottom: 1px solid #005065;
}

.linha-abaixo::before {
    content: '';
    margin-left: 10px;
}

.qualificacoes {
    background-color: rgb(0, 176, 220);
    position: relative;
    top: -100px;
    padding-top: 80px;
    z-index: -2;
    color: white;
}

.qualificacoes ul li {
    color: white;
}

.conteudo-redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo-redes-sociais div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.conteudo-redes-sociais div img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.conteudo-redes-sociais div span {
    font-size: 1.1rem;
    font-weight: 600;
}

@media print {
    div.print-margin-top {
        margin-top: 70px;
    }

    p.print-margin-top {
        padding-top: 20px;
    }

    h1.print-margin-top {
        display: block;
        margin-top: 250px;
        padding-top: 50px;
    }

    .conteudo-esquerda {
        height: 296.47vh;
    }

    .espacamento {
        display: block;
    }

    .espacamento-top {
        padding-top: 20px;
    }

    .print-margin-top-large {
        margin-top: 160px;
    }

}